<h2>{{title}}</h2>
<p class="time"><i class="glyphicon glyphicon-heart-empty"></i><span>{{createtime}}</span></p>
<p>{{author.nickname}}</p>
<img src="{{cover}}" alt="">
<p class="blog-easyIntro">{{{content}}}</p>