<img src="{{avatar}}" alt="">
<p class="nickname">{{nickname}}</p>
<div class="blog-content-intro">
  <div class="blog-intro-num line-sept">
    <span class="w700">{{articleCount}}</span>
    <span>文章</span>
  </div>
  <div class="blog-intro-type">
    <span class="w700">{{classifyCount}}</span>
    <span>分类</span>
  </div>
</div>
<p class="blog-content-story">{{signature}}</p>